<h1>{{ heroe.id ? 'Editar Heroe' : 'Nuevo Heroe'}}</h1>


<div class="container">
  <div class="form">
    <mat-form-field>
      <mat-label>
        Super Heroe
      </mat-label>
      <input matInput type="text" required [(ngModel)]="heroe.superhero">
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        Alter Ego
      </mat-label>
      <input matInput type="text" required [(ngModel)]="heroe.alter_ego">
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        Primera Aparicion
      </mat-label>
      <input matInput type="text" required [(ngModel)]="heroe.first_appearance">
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        Personajes
      </mat-label>
      <input matInput type="text" required [(ngModel)]="heroe.characters">
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        Publisher
      </mat-label>
      <mat-select required [(ngModel)]="heroe.publisher">
        <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">{{publisher.desc}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Foto
      </mat-label>
      <input matInput type="url" required [(ngModel)]="heroe.alt_img">
    </mat-form-field>

    <div style="display: flex; flex-direction: row-reverse; gap:30px;">
      <button mat-raised-button color="primary" (click)="guardar()">
        <mat-icon>edit</mat-icon>
        Guardar Heroe
      </button>
      <button mat-raised-button color="warn" (click)="borrar()">
        <mat-icon>remove</mat-icon>
        Borrar Heroe
      </button>
    </div>

  </div>
  <div>
    <h1>Imagen</h1>
    <img [src]="heroe | imagen" alt="">
  </div>
</div>
