<mat-sidenav-container fullscreen hasBackdrop="false">
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar color="primary">
      <span>Menu</span>
    </mat-toolbar>
    <mat-nav-list role="list">
      <mat-list-item role="listitem" routerLink="./listado" (click)="sidenav.toggle()">Listado</mat-list-item>
      <mat-list-item role="listitem" routerLink="./agregar" (click)="sidenav.toggle()">Agregar</mat-list-item>
      <mat-list-item role="listitem" routerLink="./buscar" (click)="sidenav.toggle()">Buscar</mat-list-item>
      <mat-list-item role="listitem" routerLink="./agregar" (click)="sidenav.toggle()">Item</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon> menu </mat-icon>
    </button>

    <span class="spacer"></span>

    <button mat-button>
      Cerrar Sesion
    </button>
  </mat-toolbar>

  <div class="container">
    <router-outlet>

    </router-outlet>

  </div>

</mat-sidenav-container>
